.profile-card {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    img {
        height: 150px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
    }
    .follow {
        width: 40%;
        text-align: center;
    }
    button {
        background-color: rgb(59, 144, 255);
        color: white;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
        border: transparent;
        border-radius: 3px;
        cursor: pointer;
        width: 7rem;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
    }
    h1 {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}
@media only screen and (max-width: 480px) {
    .profile-card img {
        height: 100px;
    }
}
@media only screen and (max-width: 340px) {
    .profile-card button {
        font-size: 10px;
        width: 5rem;
    }
    .profile-card h1 {
        font-size: 1rem;
    }
}