.profile-stats {
    padding: 0px;
    display: flex;
    justify-content: center;
    li {
        display: inline;
        margin: 10px;
        font-size: 1rem;
        cursor: pointer;
    }
}
@media only screen and (max-width: 340px) {
    .profile-stats li {
        margin: 5px;
        font-size: 0.7rem;
    }
}